<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>ShoppingProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 필터 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.company.view.common.CharacterEncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*</url-pattern>	<!-- *의 경우는 앞에 슬래시 붙이지 않는다. -->
	</filter-mapping>

	<!-- 서블릿 -->
	
<!-- == Start User Servlet ============================================== -->

	<servlet>
		<servlet-name>ViewDetailProduct</servlet-name>
		<servlet-class>com.company.biz.product.ViewDetailProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewDetailProduct</servlet-name>
		<url-pattern>/ViewDetailProduct</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutCtrl</servlet-name>
		<servlet-class>com.company.view.user.LogoutCtrl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logoutCtrl</servlet-name>
		<url-pattern>/logoutCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginCtrl</servlet-name>
		<servlet-class>com.company.view.user.LoginCtrl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginCtrl</servlet-name>
		<url-pattern>/loginCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>insertUserCtrl</servlet-name>
		<servlet-class>com.company.view.user.InsertUserCtrl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>insertUserCtrl</servlet-name>
		<url-pattern>/insertUserCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getUserCtrl</servlet-name>
		<servlet-class>com.company.view.user.GetUserCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUserCtrl</servlet-name>
		<url-pattern>/getUserCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateUserBeforeCtrl</servlet-name>
		<servlet-class>com.company.view.user.UpdateUserBeforeCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserBeforeCtrl</servlet-name>
		<url-pattern>/updateUserBeforeCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateUserCtrl</servlet-name>
		<servlet-class>com.company.view.user.UpdateUserCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserCtrl</servlet-name>
		<url-pattern>/updateUserCtrl</url-pattern>
	</servlet-mapping>

<!-- === End User Servlet ================================================ -->

<!-- === Start Board Servlet ============================================= -->

	<servlet>
		<servlet-name>updateBoardCtrl</servlet-name>
		<servlet-class>com.company.view.board.UpdateBoardCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBoardCtrl</servlet-name>
		<url-pattern>/updateBoardCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateBoardBeforeCtrl</servlet-name>
		<servlet-class>com.company.view.board.UpdateBoardBeforeCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBoardBeforeCtrl</servlet-name>
		<url-pattern>/updateBoardBeforeCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addBoardCtrl</servlet-name>
		<servlet-class>com.company.view.board.AddBoardCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBoardCtrl</servlet-name>
		<url-pattern>/addBoardCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteBoardCtrl</servlet-name>
		<servlet-class>com.company.view.board.DeleteBoardCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBoardCtrl</servlet-name>
		<url-pattern>/deleteBoardCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getBoardCtrl</servlet-name>
		<servlet-class>com.company.view.board.GetBoardCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getBoardCtrl</servlet-name>
		<url-pattern>/getBoardCtrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getBoardListCtrl</servlet-name>
		<servlet-class>com.company.view.board.GetBoardListCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getBoardListCtrl</servlet-name>
		<url-pattern>/getBoardListCtrl</url-pattern>
	</servlet-mapping>

<!-- === End Board Servlet =============================================== -->

<!-- == Start Payment Servlet ============================================== -->

	<servlet>
		<servlet-name>viewImage</servlet-name>
		<servlet-class>com.testing.image.ViewImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewImage</servlet-name>
		<url-pattern>/viewImage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getPaymentListCtrl</servlet-name>
		<servlet-class>com.company.view.mypage.GetPaymentListCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getPaymentListCtrl</servlet-name>
		<url-pattern>/getPaymentListCtrl</url-pattern>
	</servlet-mapping>
	

<!-- === End Payment Servlet =============================================== -->

</web-app>